<ion-header>
	<ion-toolbar>
		<ion-title>Administrator lobby</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				Welcome to the game !
			</ion-card-title>
			<ion-card-subtitle>
				Invite more people with your game code :
			</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-card class="gameCode">
				<ion-label color="secondary">{{gameCode}}</ion-label>
				<ion-button (click)="copyCodeToClipboard()"
					color="secondary">
					<ion-icon slot="icon-only"
						name="clipboard"></ion-icon>
				</ion-button>
			</ion-card>
		</ion-card-content>

	</ion-card>

</ion-content>
