<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>{{getUserName()}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-note>{{gameCode}}</ion-note>
      <ion-menu-toggle *ngFor="let p of appPages; let i = index">
        <ion-item button *ngIf="p.active()" (click)="onActionOnMenu(p.action)">
          <ion-icon [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" slot="start"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-progress-bar value="0.5" (click)="onActionOnMenu(null)"></ion-progress-bar>
</ion-header>

<ion-content id="main-content">
  <app-tasklist *ngIf="gameView === GameViews.tasklist"></app-tasklist>
  <app-taskmap *ngIf="gameView === GameViews.taskmap"></app-taskmap>
</ion-content>
